
body {
    font-family: 'Montserrat',
        sans-serif;
}

/* main font */
main {
    font-family: 'Roboto',
        sans-serif;
}

/* expance side background color */
.income {
    background-color: #F6F5FA;

}

.expense-header {
    color:  #1E90FF;
}